<!DOCTYPE html>
<html>
  <head>
    <title>Evolution Travel Commission Payment</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
      <link rel="shortcut icon" type="image/x-icon" href="<%= image_url('evo_logo_tiny.png') %>" />
    <style type="text/css">
      .header-top{
        text-align: center;
        margin-top: 5%;
      }
      .sub-btn{
        width: 100%;
      }
      .logo{
        width: 40%;
        display: inline-block;
        margin-left: 5%;
        vertical-align: bottom;
        margin-bottom: 5%;
      }
      .notice{
        color: red;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
